<app-header></app-header>

<div [ngSwitch]="settings?.largeScreen">
  <div class="statistics" *ngSwitchCase="'statistics'">
    <div class="top-title">Статистика ответов</div>
    <div class="statistics-question">
      <div class="title">
        <div class="number">{{statistics?.number}})</div>
        <div class="text">{{statistics?.question}}</div>
      </div>
      <div class="statistics-block">
          <div class="item" *ngFor="let answer of statistics?.answers" [ngClass]="{hidden: answer?.issue == false}">
            <div class="check" [ngClass]="{danger: statistics?.correct != answer?.text.checkIssue, success: statistics?.correct == answer?.text.checkIssue}"></div>
            <div class="content">
              <div class="text">
                Ответили: {{answer?.text.text}}
              </div>
              <div class="progress-wrapp">
                <div class="progress-number">
                  {{answer?.issue | lengthOfArray}}
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" [ngStyle]="{ 'width.%': 100 / (users | lengthOfArray) * (answer?.issue | lengthOfArray)}"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="item" *ngIf="(users | lengthOfArray) > (statistics?.countIssue | lengthOfArray) ">
            <div class="check" [ngClass]="{danger: statistics?.correct != answer?.text.checkIssue, success: statistics?.correct == answer?.text.checkIssue}"></div>
            <div class="content">
              <div class="text">
                Воздержались:
              </div>
              <div class="progress-wrapp">
                <div class="progress-number">
                  {{ (users | lengthOfArray) - (statistics?.countIssue | lengthOfArray)}}
                </div>
                <div class="progress">
                  <div class="progress-bar progress-bar-success" [ngStyle]="{ 'width.%': 100 / (users | lengthOfArray) * ((users | lengthOfArray) - (statistics?.countIssue | lengthOfArray)) }"></div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="winners" *ngSwitchCase="'winners'">
    <div class="top-title">Победители</div>
    <div class="list">
      <div class="item" *ngFor="let winner of winners; let i = index">
        <div class="number">{{i+1}}</div>
        <div class="text">{{winner?.userName}} ({{winner?.count}})</div>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'question'">
    <div class="top-section" >
      <div class="left-icon icon-question"></div>
      <div class="text" *ngIf="currentIssue?.number">
        <div class="number">{{currentIssue?.number}})</div>{{currentIssue?.question}}
      </div>
      <div class="text" *ngIf="!currentIssue?.number">Ожидайте начала игры!</div>
    </div>

    <div class="answer-options" *ngIf="currentIssue?.number">
      <div class="possible-answer" *ngFor="let item of currentIssue?.answers; let i = index">
        <div class="number">{{i + 1}}</div>
        <div class="text">{{item.answer}}</div>
      </div>
    </div>
  </div>
  <div class="list-of-participants" *ngSwitchDefault>
    <div class="top-title">Список участников</div>
    <div class="list">
      <div class="item" *ngFor="let user of users; let i = index">
        <div class="number">{{i + 1}}</div>
        <div class="text">{{user.firstName}}</div>
      </div>
    </div>
  </div>
</div>







