<app-header></app-header>
<div class="list-of-participants">
  <div class="top-title">Список участников</div>
  <div class="list">
    <div class="item" *ngFor="let user of users; let i = index">
      <div class="number">{{i + 1}}</div>
      <div class="text">{{user.firstName}}</div>
    </div>
  </div>
</div>

<div class="winners hidden">
  <div class="top-title">Победители</div>
  <div class="list">
    <div class="item">
      <div class="number">1</div>
      <div class="text">Иванов Иван</div>
    </div>
    <div class="item">
      <div class="number">2</div>
      <div class="text">Иванов Иван</div>
    </div>
    <div class="item">
      <div class="number">3</div>
      <div class="text">Иванов Иван</div>
    </div>
  </div>
</div>
<div class="statistics hidden">
  <div class="top-title">Статистика ответов</div>
  <div class="statistics-question">
    <div class="title">
      <div class="number">1)</div>
      <div class="text">Время аварийного электропитания потребителей при отсутствии зарядного тока</div>
    </div>
    <div class="statistics-block">
      <div class="item">
        <div class="check danger"></div>
        <div class="content">
          <div class="text">
            Время аварийного электропитания потребителей при отсутствии зарядного
          </div>
          <div class="progress-wrapp">
            <div class="progress-number">
              5%
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-success" style="width: 5%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="check danger"></div>
        <div class="content">
          <div class="text">
            Время аварийного электропитания потребителей при отсутствии зарядного
          </div>
          <div class="progress-wrapp">
            <div class="progress-number">
              15%
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-success" style="width: 15%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="check danger"></div>
        <div class="content">
          <div class="text">
            Время аварийного электропитания потребителей при отсутствии зарядного
          </div>
          <div class="progress-wrapp">
            <div class="progress-number">
              25%
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-success" style="width: 25%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="check success"></div>
        <div class="content">
          <div class="text">
            Время аварийного электропитания потребителей при отсутствии зарядного
          </div>
          <div class="progress-wrapp">
            <div class="progress-number">
              35%
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-success" style="width: 35%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

