.list-of-participants {
  position: relative;
  padding-bottom: 20px;
  .list {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0 0 20px;
    .item {
      width: 25%;
      display: flex;
      align-items: center;
      color: #ffffff;
      margin-bottom: 15px;
      .number {
        background: url("../../assets/images/list-of-participants-number.png") center no-repeat;
        width: 40px;
        height: 35px;
        font-size: 21px;
        font-weight: 700;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 14px;
      }
      .text {
        font-size: 20px;
        line-height: 24px;
        width: calc(100% - 54px);
        padding-right: 20px;
      }
    }
  }
  @media (max-width: 991px) {
    .list {
      padding: 68px 0 0 20px;
      .item {
        width: 100%;
      }
    }
  }
}

.winners {
  .list {
    width: 404px;
    margin: 96px auto 0;
    .item {
      display: flex;
      align-items: center;
      color: #ffffff;
      margin-bottom: 30px;
      .number {
        width: 80px;
        height: 69px;
        background: url("../../assets/images/number-bg.png") center no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 42px;
        font-weight: 700;
        line-height: 1;
        margin-right: 25px;
        overflow: hidden;
      }
      .text {
        font-size: 40px;
        font-weight: 400;
        line-height: 1.2;
        width: calc(100% - 105px);
      }
    }
  }
  @media (max-width: 991px) {
    .list {
      width: auto;
      margin: 66px auto 0;
      padding: 0 10px;
      .item {
        margin-bottom: 23px;
        .number {
          width: 58px;
          height: 51px;
          background-size: 100% 100%;
          font-size: 27px;
          line-height: 14px;
          margin-right: 15px;
        }
        .text {
          font-size: 30px;
          width: calc(100% - 73px);
        }
      }
    }
  }
}
.statistics {
  position: relative;
  .statistics-question {
    max-width: 800px;
    margin: 0 auto;
    .title {
      color: #ffffff;
      font-size: 30px;
      font-weight: 400;
      line-height: 35px;
      display: flex;
      margin-bottom: 35px;
      .number {
        font-size: 40px;
        font-weight: 700;
        line-height: 1;
        margin-right: 23px;
      }
    }
    .statistics-block {
      border-radius: 5px;
      border: 1px dashed #ffffff;
      background-color: rgba(38, 180, 37, 0.1);
      padding: 25px 30px;
      .item {
        display: flex;
        margin-bottom: 40px;
        .check {
          width: 22px;
          height: 20px;
          margin-right: 7px;
          &.success {
            background: url("../../assets/images/check-success.png") center no-repeat;
          }
          &.danger {
            background: url("../../assets/images/check-danger.png") center no-repeat;
          }
        }
        .content {
          width: calc(100% - 29px);
          .text {
            opacity: 0.8;
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            line-height: 18px;
            margin-bottom: 12px;
          }
        }
        .progress-wrapp {
          display: flex;
          align-items: center;
          .progress-number {
            width: 28px;
            color: #ffffff;
            font-size: 14px;
            font-weight: 700;
            line-height: 1;
            text-align: right;
            margin-right: 4px;
          }
          .progress {
            width: calc(100% - 32px);
            background: transparent;
            box-shadow: none;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            margin: 0;
          }
          .progress-bar {
            background-color: #64be26;
            background-image: linear-gradient(to top, rgba(76, 76, 75, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  @media (max-width: 991px) {
    .statistics-question {
      padding: 0 15px;
      margin-top: 50px;
      .title {
        font-size: 18px;
        line-height: 1.2;
        .number {
          font-size: 18px;
          margin-right: 10px;
        }
      }
    }
  }
}
