.admin-btns-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -44px;
  margin-bottom: -34px;
  button {
    width: 256px;
    height: 78px;
    box-shadow: 6px 10px 24px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #79df4c;
    background-image: linear-gradient(to top, rgba(76, 76, 75, 0.3) 0%, rgba(255, 255, 255, 0.3) 100%);
    border: none;
    color: #333333;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    outline: none;
    margin: 0 15px;
    cursor: pointer;
    display: block;
    position: relative;
    z-index: 999;
  }
  @media (max-width: 991px) {
    margin: 0;
    flex-direction: column;
    button {
      font-size: 14px;
      width: 180px;
      height: 50px;
      border-radius: 7px;
      line-height: 1;
      margin-top: 15px;
    }

  }
}
