<app-header></app-header>
<div class="time-over" *ngIf="settings?.largeScreen == 'statistics'">Время остановлено</div>
<div class="time-over" *ngIf="settings?.largeScreen == 'winners'">Конец игры</div>
<div class="admin-btns-group">
  <button type="button" (click)="timeOver(currentIssue?.number)" *ngIf="currentIssue?.number && settings?.largeScreen != 'statistics' && !settings?.finish && !settings?.clearRoom">Время вышло</button>
  <button type="button" (click)="nextQuestion(currentIssue?.number)" *ngIf="currentIssue?.number && settings?.largeScreen == 'statistics' && settings?.clearRoom == false && !settings?.finish">Следующий вопрос</button>
  <button type="button" (click)="finishGame()" *ngIf="settings?.finish">Финиш</button>
  <button type="button" (click)="startGame()" *ngIf="!currentIssue?.number && settings?.largeScreen != 'winners'">Старт</button>
  <button type="button" (click)="clearRoom()" *ngIf="settings?.clearRoom == true && !settings?.finish">Очистить комнату</button>
</div>
<div class="top-section" >
  <div class="left-icon icon-question"></div>
  <div class="text" *ngIf="currentIssue?.number">
    <div class="number">{{currentIssue?.number}})</div>{{currentIssue?.question}}
  </div>
</div>
<div class="answer-options" *ngIf="currentIssue?.number">
  <div class="possible-answer" *ngFor="let item of currentIssue?.answers; let i = index">
    <div class="number">{{i + 1}}</div>
    <div class="text">{{item.answer}}</div>
  </div>
</div>
