<div class="admin-btns-group">
  <button type="button">Время вышло</button>
  <button type="button">Следующий вопрос</button>
</div>

<div class="top-section">
  <div class="left-icon icon-question"></div>
  <div class="text">
    <div class="number">1)</div>
    Что такое резервная емкость АКБ?
  </div>
</div>

<div class="answer-options">
  <div class="possible-answer">
    <div class="number">1</div>
    <div class="text">Что-то с чем-то</div>
  </div>
  <div class="possible-answer active">
    <div class="number">2</div>
    <div class="text">Время аварийного
      электропитания потребителей
      при отсутствии зарядного тока</div>
  </div>
  <div class="possible-answer">
    <div class="number">3</div>
    <div class="text">Перезаряд аккумулятора</div>
  </div>
  <div class="possible-answer">
    <div class="number">4</div>
    <div class="text">Периодическая подзарядка АКБ</div>
  </div>
</div>
