<app-header></app-header>
<div class="admin-btns-group">
  <button type="button" *ngIf="currentIssue?.number">Время вышло</button>
  <button type="button" (click)="nextQuestion()" *ngIf="currentIssue?.number">Следующий вопрос</button>
  <button type="button" (click)="startGame()" *ngIf="!currentIssue?.number">Старт</button>
  <button type="button" (click)="clearRoom()" *ngIf="currentIssue?.number">Очистить комнату</button>
</div>

<div class="top-section" >
  <div class="left-icon icon-question"></div>
  <div class="text" *ngIf="currentIssue?.number">
    <div class="number">{{currentIssue?.number}})</div>{{currentIssue?.question}}
  </div>
  <div class="text" *ngIf="!currentIssue?.number">Ожидайте начала игры!</div>
</div>

<div class="answer-options" *ngIf="currentIssue?.number">
  <div class="possible-answer" *ngFor="let item of currentIssue?.answers; let i = index">
    <div class="number">{{i + 1}}</div>
    <div class="text">{{item.answer}}</div>
  </div>
</div>
