<app-header-user></app-header-user>

<div class="time-over" *ngIf="settings?.largeScreen == 'statistics'">Время вышло</div>

<div class="top-section" >
  <div class="left-icon icon-question"></div>
  <div class="text" *ngIf="currentIssue?.number">
    <div class="number">{{currentIssue?.number}})</div>{{currentIssue?.question}}
  </div>
  <div class="text" *ngIf="!currentIssue?.number">Ожидайте начала игры!</div>
</div>

<div class="answer-options" *ngIf="currentIssue?.number">
  <div class="possible-answer" [ngClass]="{active:giveAnswer}" *ngFor="let item of currentIssue?.answers; let i = index">
    <div class="number" (click)="answer( currentIssue?.number, i+1, item.correct)">{{i + 1}}</div>
    <div class="text">{{item.answer}}</div>
  </div>
</div>
