.results-list {
  max-width: 878px;
  margin: 6px auto 0;
  display: flex;
  flex-wrap: wrap;
  .item {
    display: flex;
    color: #ffffff;
    width: 50%;
    margin-bottom: 35px;
    .number {
      font-size: 40px;
      font-weight: 700;
      line-height: 1;
      width: 54px;
    }
    .content {
      max-width: 311px;
      .text {
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 15px;
      }
      .results-block {
        border-radius: 5px;
        border: 1px dashed #ffffff;
        background-color: rgba(38, 180, 37, 0.3);
        padding: 16px 47px;
        min-height: 224px;
      }
      .answer {
        position: relative;
        margin-bottom: 19px;
        .check {
          width: 22px;
          height: 20px;
          position: absolute;
          top: 0;
          left: -30px;
          &.success {
            background: url("../../assets/images/check-success.png") center no-repeat;
          }
          &.danger {
            background: url("../../assets/images/check-danger.png") center no-repeat;
          }
        }
        .title {
          font-size: 16px;
          font-weight: 700;
          line-height: 22px;
          margin-bottom: 5px;
        }
        .answer-text {
          opacity: 0.8;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  @media (max-width: 991px) {
    padding: 0 15px 0 20px;
    margin: 66px auto 0;
    .item {
      width: 100%;
      .number {
        font-size: 26px;
        width: 54px;
      }
      .content {
        max-width: 100%;
        width: 100%;
        .text {
          font-size: 14px;
          line-height: 17px;
          margin-bottom: 13px;
        }
        .results-block {
          padding: 13px 35px 18px;
          min-height: 1px;
        }
        .answer {
          margin-bottom: 15px;
          .check {
            width: 22px;
            height: 20px;
            position: absolute;
            top: 0;
            left: -25px;
          }
          .title {
            font-size: 13px;
            line-height: 17px;
            margin-bottom: 5px;
          }
          .answer-text {
            font-size: 11px;
            line-height: 14px;
            opacity: 1;
          }
        }
      }
    }
  }
}

