<app-header-user></app-header-user>

<div class="time-over" *ngIf="settings?.largeScreen == 'statistics'">Время вышло</div>

<div class="top-section" >
  <div class="left-icon icon-question"></div>
  <div class="text" *ngIf="currentIssue?.number">
    <div class="number">{{currentIssue?.number}})</div>{{currentIssue?.question}}
  </div>
  <div class="text" *ngIf="!currentIssue?.number" routerLink="/login">Ожидайте начала игры!</div>
</div>

<div class="answer-options" *ngIf="currentIssue?.number">
  <div class="possible-answer" answer *ngFor="let item of currentIssue?.answers; let i = index">
    <div class="check-overlay"></div>
    <div class="number" (click)="answer( currentIssue?.number, i, item.answer)">{{i + 1}}</div>
    <div class="text">{{item.answer}}</div>
  </div>
</div>

<!--<div class="answer-options" *ngIf="currentIssue?.number">-->
  <!--<div class="possible-answer" [ngClass]="{active: user?.questions[currentIssue?.number > 0 ? currentIssue?.number - 1 : 0]?.checkIssue == i }" *ngFor="let item of currentIssue?.answers; let i = index">-->
    <!--<div class="check-overlay" *ngIf="user?.questions[currentIssue?.number - 1]?.checkIssue == 0 || user?.questions[currentIssue?.number - 1]?.checkIssue"></div>-->
    <!--<div class="number" (click)="answer( currentIssue?.number, i, item.answer)">{{i + 1}}</div>-->
    <!--<div class="text">{{item.answer}}</div>-->
  <!--</div>-->
<!--</div>-->
