/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background:url("./assets/images/body-bg.png") top center no-repeat, #126431;
  background-size: cover;
  margin: 0;
  position: relative;
  * {
      box-sizing: border-box;
  }
}
.top-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 0 80px;
  .left-icon {
    width: 197px;
    height: 237px;
    background: url("./assets/images/left-icon-block.png") left top no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
    margin-right: 78px;
    &.icon-user {
      &::before {
        content: '';
        width: 101px;
        height: 101px;
        background: url("./assets/images/icon-user.png");
        display: block;
      }
    }
    &.icon-question {
      &::before {
        content: '';
        width: 67px;
        height: 108px;
        background: url("./assets/images/icon-question.png");
        display: block;
      }
    }
    @media (max-width: 991px) {
      width: 54px;
      height: 65px;
      background: url("./assets/images/left-icon-block-mob.png") left top no-repeat;
      padding-right: 15px;
      margin-right: 20px;
      &.icon-user {
        &::before {
          content: '';
          width: 30px;
          height: 30px;
          background-size: 100% 100%;
        }
      }
      &.icon-question {
        &::before {
          content: '';
          width: 19px;
          height: 30px;
          background-size: 100% 100%;
        }
      }
    }
  }
  .text {
    color: #ffffff;
    font-size: 60px;
    font-weight: 300;
    line-height: 67px;
    width: calc(100% - 275px);
    padding-right: 50px;
    display: flex;
    .number {
      font-weight: 700;
      margin-left: -35px;
      padding-right: 20px;
    }
    @media (max-width: 991px) {
      font-size: 18px;
      line-height: 22px;
      width: calc(100% - 75px);
      .number {
        font-size: 18px;
        line-height: 18px;
        margin-left: -10px;
        padding-right: 6px;
      }
    }
  }
  @media (max-width: 991px) {
    padding: 12px 0 36px;
  }
}

.answer-options {
  padding: 0 58px 0 240px;
  display: flex;
  flex-wrap: wrap;
  .possible-answer {
    width: 50%;
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-bottom: 53px;
    .number {
      width: 80px;
      height: 69px;
      background: url("./assets/images/number-bg.png") center no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 42px;
      font-weight: 700;
      line-height: 1;
      margin-right: 20px;
      overflow: hidden;
      cursor: pointer;
    }
    .text {
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      width: calc(100% - 100px);
      padding-right: 20px;
    }
    &.active {
      .number {
        background: url("./assets/images/number-bg-active.png") center no-repeat;
        text-indent: 200px;
      }
    }
  }
  @media (max-width: 991px) {
    padding: 0 12px 0 22px;
    .possible-answer {
      width: 100%;
      margin-bottom: 20px;
      .number {
        width: 52px;
        height: 44px;
        background-size: 100% 100%;
        font-size: 27px;
        line-height: 14px;
        margin-right: 15px;
      }
      .text {
        font-size: 14px;
        line-height: 17px;
        width: calc(100% - 67px);
        padding-right: 0;
      }
      &.active {
        .number {
          background-size: 100% 100%;
        }
      }
    }
  }
}
.top-title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  position: relative;
  top: -64px;
  @media (max-width: 991px) {
    font-size: 22px;
    top: 0;
    padding-top: 15px;
  }
}
